@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 51vw;
}

.loader {
  border: 2px solid transparent;
  border-top: 2px solid white; /* Цвет индикатора загрузки */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-overlay {
  position: fixed; /* Фиксированное позиционирование */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Убедитесь, что он выше других элементов */
}

.loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Белый цвет с прозрачностью */
  border-radius: 50%;
  border-top: 8px solid white; /* Цвет верхней части */
  width: 60px;
  height: 60px;
  animation: spinet 1s linear infinite; /* Анимация вращения */
}

@keyframes spinet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disable:disabled {
  background-color: gray;
}

body {
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
